.bg-magenta{
    background-color: #E83E8C;
}

.navbar-brand img{
    width: 38%;
    padding: 10px;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
}


.seccion1{
    margin-bottom: 70px;
}

.icons-section{
    background-color: #17A2B8;
    color: #fff;
    height: 150px;
    

}

.icons-section h2{
    margin: 30px;
    text-align: center;
    margin-top: 46px;

}

.icons-section .fab{
   font-size: 3em; 
   margin-top: 46px;
}

.footer{
    background-color: #E83E8C;
}

.footer img{
    margin: auto;
    display: block;
    height: 101px;
}

.custom-toggler .navbar-toggler-icon {
   color: #fff;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,102,203);
  } 

  